---
title: false
styles: true
---
$headingColour: #3d31b8 !default;
$bodyColour: #384743 !default;
$linkColour: #3d31b8 !default;
$hoverColour: darken(#3d31b8, 10%) !default;
$focusColour: lighten(#3d31b8, 15%) !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;

@import "alembic";
